<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find erod_control)/config/erod_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/erod" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
            leftRearWheel_effort_controller
            rightRearWheel_effort_controller"/>



</launch>
